@model IEnumerable<Category>

<div>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>

        <div class="col-6">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                Create New Category
            </a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Description
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
<tr>
    <td width="30%">
        @category.Name
    </td>
    <td width="40%">
        @category.Description
    </td>
    
    <td>
        <div>
            <a asp-controller="Category" asp-action="Edit" asp-route-Id="@category.Id" class="btn btn-primary">Edit</a>
            <a asp-controller="Category" asp-action="Delete" asp-route-Id="@category.Id" class="btn btn-danger">Delete</a>
        </div>
    </td>
</tr>}
    </tbody>
</table> }
            else
            {
<p>Không tồn tại thể loại trong database</p>}


</div>
